@import "bootstrap";


body {
    background-image: url("https://image.freepik.com/free-photo/smooth-stucco-wall_1194-7087.jpg");
    
}

.collapse navbar-collapse {

    float: right;
}

.card {
    margin: 30px;
    border: 1px solid #ccc;
    float: left;
    width: 220px;
    padding: 8px;
}

.card2 {
   
    width: 110%;
    padding: 10px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
   border: 1px solid green;
   
}


.col-md-3 {
    padding: 15x;
    
}


.username, .newpost{
    text-align: center;
}

